// Colors
$navy: #002035 ;
$darkblue: #004B67 ;
$lightblue: #41CCB4 ;
$green: #ABCD38 ;
$yellow: #F2E530 ;
$peach: #FFBE7D ;
$salmon: #FF7C5D ;
$hotpink: #C70151 ;





//Sizes

$mainareaheight: 100%-84px;

$menuheight: 54px;
$topheight: 54px;
$barheight: ((100%-84px)/7);
