/* line 3, ../sass/7.scss */
#top.week {
  font-size: 20px;
}

/* line 8, ../sass/7.scss */
#weekday ul > li > .schedtime {
  width: 100px;
  height: 30px;
  margin: 3%;
  float: right;
}
/* line 15, ../sass/7.scss */
#weekday ul > li > .schedtime p {
  font-family: "Domine";
  font-size: 16px;
  margin: 0;
  text-align: right;
  float: clear;
  margin-right: 20px;
}

/* line 27, ../sass/7.scss */
.nowork {
  float: right;
  margin: 2% 4% 0 0;
}
