/* line 3, ../sass/main.scss */
body, html {
  height: 100%;
  position: relative;
}

/* line 8, ../sass/main.scss */
#container {
  width: 100%;
  height: 100%;
}

/* line 13, ../sass/main.scss */
#clear {
  height: 54px;
  width: 100%;
}

/* line 18, ../sass/main.scss */
#top {
  height: 54px;
  background: #002035;
  width: 100%;
  position: fixed;
  top: 0;
}
/* line 26, ../sass/main.scss */
#top.day p {
  font-size: 20px;
}
/* line 31, ../sass/main.scss */
#top p {
  font-family: "Domine";
  color: white;
  font-size: 16px;
  text-align: center;
  margin-top: 16px;
}

/* line 40, ../sass/main.scss */
#bottom {
  height: 54px;
  background: #002035;
  width: 100%;
  z-index: 10;
  position: fixed;
  bottom: 0;
}
/* line 47, ../sass/main.scss */
#bottom ul {
  width: 310px;
  margin: 0 auto;
}
/* line 51, ../sass/main.scss */
#bottom ul li a {
  width: 45px;
  height: 40px;
  margin: 8px;
  float: left;
  background: url(../img/icons.svg);
}
/* line 57, ../sass/main.scss */
#bottom ul li a:hover {
  background: url(../img/icons.svg) #004b67;
}
/* line 61, ../sass/main.scss */
#bottom ul li a[href^="index"] {
  background-position: -17px -13px;
}
/* line 64, ../sass/main.scss */
#bottom ul li a[href^="home"] {
  background-position: -17px -13px;
}
/* line 67, ../sass/main.scss */
#bottom ul li a[href^="31"] {
  background-position: -74px -13px;
}
/* line 70, ../sass/main.scss */
#bottom ul li a[href^="7"] {
  background-position: -135px -13px;
}
/* line 73, ../sass/main.scss */
#bottom ul li a[href^="avail"] {
  background-position: -196px -13px;
}
/* line 76, ../sass/main.scss */
#bottom ul li a[href^="pref"] {
  background-position: -257px -13px;
}

/* line 87, ../sass/main.scss */
.larr {
  background: url(../img/icons.svg);
  background-position: -117px -153px;
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
}

/* line 96, ../sass/main.scss */
.rarr {
  background: url(../img/icons.svg);
  background-position: -164px -153px;
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
}

/* line 105, ../sass/main.scss */
.wlarr {
  background: url(../img/icons.svg);
  background-position: -214px -154px;
  width: 40px;
  height: 40px;
  display: block;
  left: 0;
  margin: 8px 0 0 10px;
  position: absolute;
}

/* line 116, ../sass/main.scss */
.wrarr {
  background: url(../img/icons.svg);
  background-position: -262px -154px;
  width: 40px;
  height: 40px;
  margin: -25px 10px 0 0;
  float: right;
  right: 0;
  display: block;
  position: absolute;
}

/* line 128, ../sass/main.scss */
.x {
  background: url(../img/icons.svg);
  background-position: -162px -63px;
  width: 40px;
  height: 40px;
  display: block;
}

/* line 136, ../sass/main.scss */
.half {
  background: url(../img/icons.svg);
  background-position: -15px -63px;
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
}

/* line 145, ../sass/main.scss */
.check {
  background: url(../img/icons.svg);
  background-position: -210px -63px;
  width: 40px;
  height: 40px;
  display: block;
}

/* line 153, ../sass/main.scss */
.solidx {
  background: url(../img/icons.svg);
  background-position: -63px -63px;
  width: 40px;
  height: 40px;
  display: block;
}

/* line 161, ../sass/main.scss */
.solidcheck {
  background: url(../img/icons.svg);
  background-position: -111px -63px;
  width: 40px;
  height: 40px;
  display: block;
}

/* line 169, ../sass/main.scss */
.edit {
  background: url(../img/icons.svg);
  background-position: -258px -63px;
  width: 40px;
  height: 40px;
  display: block;
}

/* line 177, ../sass/main.scss */
.pinkx {
  background: url(../img/icons.svg);
  background-position: -261px -107px;
  width: 40px;
  height: 40px;
  display: block;
}

/* line 185, ../sass/main.scss */
.bluecheck {
  background: url(../img/icons.svg);
  background-position: -213px -107px;
  width: 40px;
  height: 40px;
  display: block;
}

/* line 193, ../sass/main.scss */
.minus {
  background: url(../img/icons.svg);
  background-position: -166px -107px;
  width: 40px;
  height: 40px;
  display: block;
}

/* line 201, ../sass/main.scss */
.plus {
  background: url(../img/icons.svg);
  background-position: -117px -107px;
  width: 40px;
  height: 40px;
  display: block;
}

/* line 209, ../sass/main.scss */
.Sun {
  background-color: #004b67;
}

/* line 212, ../sass/main.scss */
.Mon {
  background: #41ccb4;
}

/* line 215, ../sass/main.scss */
.Tues {
  background: #abcd38;
}

/* line 218, ../sass/main.scss */
.Wed {
  background: #f2e530;
}

/* line 221, ../sass/main.scss */
.Thurs {
  background: #ffbe7d;
}

/* line 224, ../sass/main.scss */
.Fri {
  background: #ff7c5d;
}

/* line 227, ../sass/main.scss */
.Sat {
  background: #c70151;
}

/* line 231, ../sass/main.scss */
#addavail {
  margin: 20px auto;
}

/* line 236, ../sass/main.scss */
#calendar {
  height: 100%;
}

/* line 240, ../sass/main.scss */
#weekday {
  height: 100%;
  width: 100%;
  position: fixed;
}
/* line 245, ../sass/main.scss */
#weekday ul {
  height: 100%;
}
/* line 248, ../sass/main.scss */
#weekday ul li {
  height: -moz-calc((100% - 108px)/7);
  height: -webkit-calc((100% - 108px)/7);
  height: calc((100% - 108px)/7);
  width: 100%;
}
/* line 256, ../sass/main.scss */
#weekday p {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 24px;
  color: #002035;
  text-transform: uppercase;
  margin: 4%;
  background: none !important;
  position: absolute;
}

/* line 268, ../sass/main.scss */
#exception {
  width: 80%;
  background-color: #41ccb4;
  margin: 10% auto;
  display: block;
  height: 15%;
}

/* line 276, ../sass/main.scss */
#schedclick {
  width: 80%;
  background-color: #f2e530;
  margin: 10% auto;
  display: block;
  height: 15%;
}

/* line 284, ../sass/main.scss */
#somethingelse {
  width: 80%;
  background-color: #ffbe7d;
  margin: 10% auto;
  display: block;
  height: 15%;
}
